#home-layout {
    width: min-content;
    min-width: max-content;
    min-height: 100vh;
    position: absolute;
    left: 0;
    max-width: 100vw;
    box-sizing: border-box;
}

#home-layout>.content {
    padding-bottom: 20rem;
    margin-top: 12rem;
}