#home-layout {
    max-width: 100vw;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

#home-layout>.content {
    max-width: 100vw;
    padding: 2rem 4rem;
    margin-bottom: 18rem;
    box-sizing: border-box;
    /* margin-top: 12rem; */
}