.recipe-box {
    border: 0.1rem solid var(--gray-color);
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 1rem var(--shadow-color);
    width: 18rem;
    height: 25rem;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
}

.recipe-box>.information {
    margin: auto;
    overflow: auto;
    padding: 0 1rem;
}

.recipe-box>.information>.name {
    font-size: 1.1rem;
    font-weight: 500;
}

.recipe-box>.information>.author {
    padding: 1rem 0;
}

.recipe-box>.information>.icon {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.recipe-box>.information>.icon>.item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}