#main-layout {
    width: max-content;
    min-width: 100vw;
    min-height: calc(100vh - 6rem);
    position: absolute;
    left: 0;
    top: 6rem;
}

#main-layout>.content {
    padding-bottom: 12rem;
}