#main-layout {
    width: min-content;
    min-width: max-content;
    min-height: calc(100vh - 12rem);
    position: absolute;
    left: 0;
    top: 12rem;
}

#main-layout > .content {
    padding-bottom: 12rem;
}