.buttons {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 1rem;
    margin-top: 1rem;
}

.buttons>.ok-btn {
    padding: 0.3rem 1rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.2rem;
    color: var(--white-color);
}

.buttons>.ok-btn:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0em 0.5rem var(--secondary-color);
}

.buttons>.cancel-btn {
    padding: 0.3rem 1rem;
    background-color: var(--white-color);
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.2rem;
    color: var(--primary-color);
}

.buttons>.cancel-btn:hover {
    border: 0.1rem solid var(--secondary-color);
    box-shadow: 0 0em 0.5rem var(--secondary-color);
    color: var(--secondary-color);
}