.ant-btn:hover {
  border-color: var(--primary-color);
}

.ant-btn-default {
  border-color: var(--primary-color);
}

.ant-btn-primary {
  border-color: var(--primary-color);
  background: var(--primary-color);
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.ant-btn-secondary {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  color: var(--white-color);
}

.ant-btn-secondary:hover,
.ant-btn-secondary:focus {
  background-color: var(--white-color);
  border-color: var(--quaternary-color);
  color: var(--quaternary-color);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #F6F6F6;
}

.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
  color: var(--secondary-color);
}

.ant-menu-item-selected {
  color: var(--primary-color);
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected {
  color: var(--primary-color);
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover {
  color: var(--secondary-color);
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected::after {
  border-bottom: 2px solid var(--primary-color);
}

.ant-switch {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 44px;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  cursor: pointer;
  user-select: none;
  margin: 0px;
  padding: 0px;
  font-variant: tabular-nums;
  list-style: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 100px;
  transition: all 0.2s ease 0s;
}

.ant-switch-checked {
  background: var(--primary-color);
}

.ant-switch-small {
  min-width: 28px;
  height: 16px;
  line-height: 16px;
}

.ant-layout-header,
.ant-layout-footer {
  color: var(--white-color);
  background: var(--white-color);
  padding: 0;
  position: sticky;
}

[data-theme='dark'] .ant-layout-header {
  background: var(--primary-color);
}

[data-theme='dark'] .ant-layout-footer {
  background: var(--primary-color);
}

.ant-layout-footer {
  line-height: 1.5;
}

.ant-layout-sider {
  color: var(--white-color);
  background: var(--white-color);
  height: 100%;
  width: 300px;
}

[data-theme='dark'] .ant-layout-sider {
  background: #3499ec;
}

.ant-layout-content {
  min-height: 100vh;
  color: var(--white-color);
  line-height: 120px;
  background: var(--white-color);
}

[data-theme='dark'] .ant-layout-content {
  background: var(--primary-color);
}