#account-tab {
    background-color: var(--shadow-color);
    height: 100%;
    color: var(--white-color);
    font-weight: 700;
    text-align: center;
    padding: 8rem 0;
}

#account-tab>.item {}

#account-tab>.chosen-item {}