#navbar {
    width: 100vw;
    height: 12rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    box-shadow: 0 0.1rem 1rem gainsboro;
    z-index: 2;
    display: grid;
    grid-template-rows: 3fr 1fr;
    font-size: 1.1rem;
}

#navbar > img {
    background-color: antiquewhite;
    height: 5rem;
    margin: auto;
}

#navbar .category {
    display: flex;
    justify-content: space-evenly;
}

#navbar .navbar-title {
    font-weight: 500;
}

#navbar .navbar-title:hover {
    color: var(--quinary-color);
}