.my-recipes>.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.my-recipes>.title>.user-name {
    color: var(--primary-color);
}

.my-recipes>.create-btn {
    margin: 2rem auto;
    margin-bottom: 4rem;
    display: block;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
}