#footer {
    box-sizing: border-box;
    background-color: var(--secondary-color);
    width: 100vw;
    max-width: 100vw;
    height: 18rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

#footer .title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

#footer .text {
    color: var(--white-color);
    margin: 1rem 0;
}

#footer .input {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 3rem;
    width: 60%;
    margin: 0.5rem auto;
    line-height: 2rem;
}

#footer .input input {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem 1rem;
}

#footer .input .send-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.5rem;
    font-weight: 700;
}

#footer .category {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
    color: var(--white-color);
    cursor: pointer;
}

#footer .category .link:hover {
    color: var(--quinary-color);
}

#footer .contact {
    line-height: 1.5rem;
}

#footer .input .send-btn:hover {
    box-shadow: 0 0 1rem var(--primary-color);
}