#footer {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--quinary-color);
    width: 100vw;
    height: 12rem;
    position: absolute;
    bottom: 0;
    padding: 0.5rem 2rem;
    /* grid */
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-gap: 3rem;
    align-items: center;
}

#footer>.form>.title {
    margin-bottom: 0.2rem;
    font-size: 2rem;
    font-weight: 700;
}

#footer>.form>.input {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 1rem;
    width: 100%;
    margin: 0.25rem 0;
    line-height: 2rem;
}

#footer>.form>.input>input {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
}

#footer>.contact {
    line-height: 1.5rem;
}