#recipe-detail {
    padding: 2rem 4rem;
    min-width: 100vw;
    box-sizing: border-box;
}

#recipe-detail>.action {
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    max-width: calc(100vw - 8rem);
}

#recipe-detail>.action>button {
    border: 0.1rem solid var(--black-color);
    background-color: var(--white-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

#recipe-detail>.action>button:hover {
    border: 0.2rem solid var(--black-color);
}

#recipe-detail>.action>.icon {
    color: var(--tertiary-color);
}

#recipe-detail>.action>.icon:hover {
    color: var(--red-color);
}

#recipe-detail .title {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}

#recipe-detail .recommend-recipes {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100vw - 8rem);
    gap: 1rem;
    justify-content: space-between;
}